.signup{
    position: absolute;
    height: 850px;
    width: 350px;
    top: 115px;
    right: 150px;
    background-color: #F8F8F9;
    padding: 2rem 2rem;
}
.signup-container{
height: 100%;
}

.signup-container .ride{

}
.signup-container .sign{

}
.signup-container .informations-container{

}